<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['//home']">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Member</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="ct">
      <div class="photo">
        <img src="../../../assets/photo/big.jpg" />
      </div>
      <div class="detail">
        <p>นายภาณุวิชญ์ กิตติรงค์</p>
        <p>รหัสนักศึกษา 60172110142-4</p>
        <p>กลุ่มเรียน CPE.60241</p>
      </div>
    </div>
    <div class="ct">
      <div class="photo"><img src="../../../assets/photo/aom.jpg" /></div>
      <div class="detail">
        <p>นางสาวอรทัย ประมังคะตา</p>
        <p>รหัสนักศึกษา 60172110466-6</p>
        <p>กลุ่มเรียน CPE.60241</p>
      </div>
    </div>
    <div class="ct">
      <div class="photo"><img src="../../../assets/photo/khing.jpg" /></div>
      <div class="detail">
        <p>นางสาวกัญจนพร แสนเจียม</p>
        <p>รหัสนักศึกษา 60172110500-8</p>
        <p>กลุ่มเรียน CPE.60241</p>
      </div>
    </div>
  </div>
</ion-content>
