#container {
  text-align: center;
  left: 0;
  right: 0;
  height: 80%;
}

ion-content ion-toolbar {
  --background: translucent;
}

.box-l {
  grid-column: span 6;
  background-color: red;
  // margin-top: 20%;
  margin-left: 10%;

  margin-right: 5%;
}
.box-r {
  grid-column: span 6;
  background-color: red;
  margin-top: 20%;
  margin-left: 5%;
  margin-right: 10%;
}
:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

ion-col > div {
  background-color: #f7f7f7;
  border: solid 1px #ddd;
  margin: 20px;
  height: 100%;
}
ion-grid {
  height: 80%;
}
ion-row {
  height: 50%;
}
.ic {
  color: dimgrey;
  padding-top: 15%;
  font-size: 100px;
}
.title {
  color: dimgrey;
  padding-top: 15%;
  font-size: 25px;
  font-weight: 600;
}
